root{
    --sky-blue: #84CEEBff;
    --light-cornflower-blue: #84C3E8ff;
    --aero: #85B8E6ff;
    --french-sky-blue: #85ADE3ff;
    --little-boy-blue: #86A2E0ff; /**/
    --cornflower-blue: #8697DEff; /**/
    --shadow-blue: #868CDBff;
    --medium-purple: #8781D8ff; /**/
    --medium-purple-2: #8776D5ff; /**/
    --medium-purple-3: #886BD3ff;
    --amethyst: #8860D0ff;

}

.o-divide{

}

.o-right{
    background-color: hotpink;
}

.o-left{
    background-color: green;
}